<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <% if (user.id) {%>
        <div class="flexbox">
            <h1>Name:  <%=user.name%></h1>
            <button id="logout_button" class='logout-button'>Log out</button>
            <script>
                document.getElementById("logout_button").addEventListener("click", () => {
                    location.href = "/logout";
                });
            </script>
        </div>
    <% } else {%>
        <button id="login_button" class='login-button'>Log in</button>
        <script>
            document.getElementById("login_button").addEventListener("click", () => {
                location.href = "/login";
            });
        </script>
    <% }%>

    
</body>

</html>
